/* // login/register className */
.cred_ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cred_ form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 40%;
    padding: 10px 55px 50px;
    box-sizing: border-box;
    height:500px;
    justify-content: center;
    /* align-items: center; */
}

.cred_ input {
    /* width: 100%;
    height: 34px;
    margin-bottom: 12px;
    margin-left: -14px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 12px;
    border-radius: 5px;
    border: 1px solid #000; */
}

.cred_ label {
    font-family: 'Poppins', sans-serif;
    margin-left: -10px;
    font-size: 12px;
}

.cred_ form h6 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}